body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #87CEFA; /* Light blue background */
    color: white; /* White text color */
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

#cityInput {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#forecast {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white background */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.forecast-item {
    display: inline-block;
    width: 100px;
    margin: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc; /* Divider between forecast items */
    padding-bottom: 10px; /* Spacing between forecast items */
}

.forecast-icon {
    width: 40px;
    height: 40px;
}

h2 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
}

p {
    margin: 5px 0;
}
